@model Web.ViewModels.CadastroServicoViewModel
@using Web.Extensions
@*@Html.GenerateRelayQrCode("teste")*@

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="panel panel-">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Inserir Serviços
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div style="background-color: #c3c3c3; overflow: auto;" class="col-md-12">
                            <br />
                            <div style="text-align:center;">
                                <select class="form-control" style="display:inline-block; width:42% ">
                                    <option>servico 1</option>
                                    <option>servico 2</option>
                                    <option>servico 3</option>
                                </select><input type="text" class="form-control" style="display:inline-block; width:42%;" placeholder="Valor em Fits" /> <a href="#" id="submit" data-original-title="inserir" data-toggle="tooltip" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-plus-sign" style="font-size:19px;"></i></a>

                                <br /><br />
                            </div>
                            <div style="overflow:auto; max-height:200px;">
                                <div style="background-color:whitesmoke; height:300px;">

                                    <table class="table">
                                        <tbody>

                                            <tr style="text-align:center;">
                                                <td><strong>Serviço</strong></td>
                                                <td><strong>Valor</strong></td>
                                                <td><strong>Gerar QR CODE</strong></td>
                                                <td><strong>Remover</strong></td>
                                            </tr>
                                            <tr style="text-align:center">
                                                <td>servico 1</td>
                                                <td>1 fits</td>
                                                <td><a href="#" target="_blank" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-qrcode" style="font-size:19px;"></i></a></td>
                                                <td><a href="#" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-remove" style="font-size:19px;"></i></a></td>

                                            </tr>
                                            <tr style="text-align:center">
                                                <td>servico 2</td>
                                                <td>1 fits</td>
                                                <td><a href="#" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-qrcode" style="font-size:19px;"></i></a></td>
                                                <td><a href="#" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-remove" style="font-size:19px;"></i></a></td>
                                            </tr>
                                            <tr style="text-align:center">
                                                <td>servico 3</td>
                                                <td>1 fits</td>
                                                <td><a href="#" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-qrcode" style="font-size:19px;"></i></a></td>
                                                <td><a href="#" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-remove" style="font-size:19px;"></i></a></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br />
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Inserir" id="btnLogin" />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br /><br />