@model Web.ViewModels.AtualizarServicoViewModel


@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(e => e.Chave, new { id = "ChaveServico" })
    <div class="modal-body">

        <div class="form-group">
            @Html.TextBoxFor(e => e.Nome, new { @class = "form-control input-sm", placeholder = "Nome", id = "Nome" })
        </div>
        <div class="form-group">
            @*@Html.TextBoxFor(e => e.Imagem, new { @class = "form-control input-sm", placeholder = "Imagem", type = "file" })*@
            <input type="file" name="imagem" />
        </div>
    </div>
    <div class="modal-footer ">
        @*<button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Atualizar</button>*@
        <a href="#" id="submit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>

    </div>
}
<script>
    $("#submit").click(function () {
        $("form").submit();
    });
</script>