@model PagedList.IPagedList<Processo.Entidades.Servico>
@using PagedList.Mvc;
@using Web.Extensions


<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-4 col-lg-offset-4 toppad">
            <div class="panel panel-">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span style="font-size:25px; font-weight:bold;"></span>
                    </h1>
                </div>
                <div class="panel-body">

                    @Html.GenerateRelayQrCode((string)ViewBag.Codigo)


                    <script>
                        function DoPrinting() {
                            window.print()
                        }
                    </script>
                    <br />
                    <br />
                    <br />
                    <br />
                    <form>
                        <input type="button" class="btn btn-lg btn-info" value="Clique para imprimir o QRCode" onclick="javascript:DoPrinting()">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div><br /><br />