@model Web.ViewModels.ExibirPessoaJuridicaModel


<div class="container">
    <div class="row clearfix panel">
        <br>
        <div class="col-md-12 column">
            <img src="http://lorempixel.com/140/140/" class=" img-responsive" alt="imagem academia" style="max-width: 1500px; max-height: 400px;" />
            <h2>
                Academia tal
            </h2>
            <div class="row clearfix">
                <div class="col-md-10 column">
                    <p>
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                </div>

                <div class="col-md-2 column" style="text-align: center;">
                    <h3>
                        RANKING
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </div>
                    </h3>
                </div>
            </div>
            <br><br>
            <div class="row clearfix">
                <div class="col-md-12column">
                    <div class="row clearfix col-md-6">
                        <div class="col-md-2  column">
                            <span class="glyphicon glyphicon-earphone" style="font-size: 70px;"></span>
                        </div>
                        <div class="col-md-10 column" style="margin-top: -20px;">
                            <h3>Contato</h3>
                            Telefone: (21) 4063-4442
                            Celular: (21) 89888-8888

                        </div>
                        <br><br>
                    </div>
                    <div class="row clearfix col-md-6">
                        <div class="col-md-2 column">
                            <span class="glyphicon glyphicon-map-marker" style="font-size: 70px;"></span>
                        </div>
                        <div class="col-md-10 column" style="margin-top: -20px;">
                            <h3>Localização</h3>
                            Endereço
                            Rua Francisco Portela, 15 - Paraíso, São Gonçalo, Rio de Janeiro

                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row clearfix" style="text-align: center;">
                <div class="col-md-12 column">
                    <h2>
                        Serviços disponíveis
                    </h2>
                </div>
            </div><br>
            <div class="row clearfix" style="text-align: center;">
                <div class="col-md-3 column">
                    <h3>
                        s1
                    </h3>
                    <img alt="140x140" src="http://lorempixel.com/140/140/" class="img-responsive img-rounded" />
                    <h3>
                        1fits
                    </h3>
                </div>
                <div class="col-md-3 column">
                    <h3>
                        s2
                    </h3>
                    <img alt="140x140" src="http://lorempixel.com/140/140/" class="img-responsive img-rounded" />
                    <h3>
                        2fits
                    </h3>
                </div>
                <div class="col-md-3 column">
                    <h3>
                        s3
                    </h3>
                    <img alt="140x140" src="http://lorempixel.com/140/140/" class=" img-responsive img-rounded" />
                    <h3>
                        3fits
                    </h3>
                </div>
                <div class="col-md-3 column">
                    <h3>
                        s4
                    </h3>
                    <img alt="140x140" src="http://lorempixel.com/140/140/" class=" img-responsive img-rounded" />
                    <h3>
                        4fits
                    </h3>
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-12 column" style="text-align: center; margin-left: 0px;">
                    <a href="" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Compre seus FITS Agora!</a>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
</div>

