@model PagedList.IPagedList<Processo.Entidades.HistoricoCompraServico>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">
            <div class="panel panel-">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span style="font-size:25px; font-weight:bold;">Histórico de Compra de Serviços</span>
                    </h1>
                </div>
                @using (Html.BeginForm("ListarHistoricoServico", "Movimentacao", FormMethod.Get))
                {
                    <div class="form-inline col-md-10" style="padding-left:30px; padding-bottom:20px;">                        
                        <input type="text" name="pessoaFisica" placeholder="Nome Pessoa Física" class="form-control" />

                        <input type="text" name="academia" placeholder="Academia" class="form-control" />

                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" name="dataInicial"  placeholder="DataInicial" class="input-sm form-control" />
                            <span class="input-group-addon">até</span>
                            <input type="text" name="dataFinal"  placeholder="DataFinal" class="input-sm form-control" />
                        </div>

                        <script>
                            $(function () {
                                $('.input-daterange').datepicker({
                                    format: "dd/MM/yyyy",
                                    todayBtn: "linked",
                                    language: "pt-BR",
                                    todayHighlight: true
                                });
                            });
                        </script>

                        <input type="submit" value="Filtrar" class="btn btn-info" />
                        <a href="@Url.Action("GerarExcel","Movimentacao")" class=" btn btn-success">XLS</a>

                    </div>
                }
                <div class="panel-body" id="resultado">
                    @Html.Partial("_ListarHistoricoServico", Model)
                </div>
            </div>
        </div>
    </div>
</div>