

<div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/1.jpg" alt="...">
                <div class="carousel-caption">
                    <h2>Musculação</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/images/2.jpg" alt="...">
                <div class="carousel-caption">
                    <h2>Artes Marciais</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/images/3.jpg" alt="...">
                <div class="carousel-caption">
                    <h2>Natação</h2>
                </div>
            </div>
            <div class="item">
                <img src="~/images/4.jpg" alt="...">
                <div class="carousel-caption">
                    <h2>Pilates</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<br><br><br>
<div class="container" style="color:white;">
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item selected">
                <img src="~/images/buscar.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <h3>BUSCAR</h3>
                    <span class="description">Encontre a atividade física que deseja fazer em nossos estabelecimentos credenciados através do preço e localização.</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="product-chooser-item">
                <img src="~/images/comprar.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <h3>COMPRAR</h3>
                    <span class="description">Compre quantos FITS voce desejar e utilize quando quiser sem matricula, sem mensalidade ou multa.</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-bottom:50px;">
            <div class="product-chooser-item">
                <img src="~/images/usar.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                    <h3>USAR</h3>
                    <span class="description">Para usar seus FITS instale nosso APP Banana's FIT Mobile e através dele use em qualquer estabelecimento credenciado e faça a modalidade que desejar.</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>


    </div>
            <div class="panel-group" id="accordion" style="color:black;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><strong>1. Comprando FITS</strong></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4> Como faço para comprar FITS?</h4>
                            Basta buscar uma academia por cidade, CEP, bairro, aulas ou modalidade.
                            Depois de encontrar sua academia, você tem a opção de escolher quantos FITS deseja compra de acordo com a modalidade que voce quer usar.
                            Clique no botão comprar e prossiga para o processo de pagamento.

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><strong>2. Na academia</strong></a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Problemas ao comprar o serviço na academia - o que devo fazer?</h4>
                            Caso você tenha algum problema na sua ida a academia, entre em contato conosco imediatamente.
                            Entraremos em contato com a academia para entender o que aconteceu e dar um retorno à você, para que tenha sempre a melhor experiência possível.
                            <br /><br />
                            <h4>Eu tenho que fazer uma avaliação física?</h4>
                            Não é necessário fazer avaliação física se você tem mais de 15 e menos de 65 anos. Mas é necessário apresentar um atestado médico alegando que você pode realizar atividades físicas, ele tem validade de 6 meses após a emissão.
                            Para modalidades que envolvem piscina, as academias em geral pedem um atestado de saúde declarando que você está apto a utilizar a piscina.
                            Se houver alguma outra obrigatoriedade a academia avisará ao Banan´'s FIT, que deixará claro na página de informações da academia.
                            <br /><br />
                            <h4> O que eu preciso levar para a academia para que eles me deixem entrar?</h4>
                            O seu celular com o App Banana' FIT instalado e com a quantidade de Fits necessária para realizar a modalidade que voce deseja na academia.
                            Algumas academias podem exigir seu documento de identidade para verificar o seu nome no sistema.
                            Na entrada da academia a recepção irá validar seu passe através do QR CODE específico para a modalidade desejada.

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><strong>3. Avaliando academia</strong></a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Como faço para deixar avaliações sobre a minha experiência na academia?</h4>
                            Você pode avaliar as academias utilizadas diretamente na página delas no site do Banana´s FIT.
                            <br /><br />
                            <h4>Eu quero fazer uma reclamação sobre uma academia, como eu faço isso?</h4>
                            Entre em contato com a equipe do GymPass relatando o ocorrido, de preferência com detalhes de quem o atendeu e sobre o que aconteceu.
                            Nós entraremos em contato com a academia e resolver o problema da melhor maneira possível.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><strong>4. Gerenciando minha conta</strong></a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Posso resgatar o dinheiro que eu colocar na minha conta?</h4>
                            Após comprar os FITS, você tem até 7 dias para solicitar o seu dinheiro de volta. Após este período o crédito tem validade de 6 meses para ser utilizado dentro do Banana's FIT.
                            Em casos excepcionais, entre em contato diretamente com o Banana's FIT.
                            <br /><br />    
                            <h4>Eu posso ver a quantidade de FITS que possuo?</h4>
                            Pode sim! Você tem o controle fazendo o login no site, acessando Minha conta.
                        </div>
                    </div>
                </div>
                
            </div>


</div>
<br><br><br><br><br><br>
