@model Web.ViewModels.ContatoViewModel


<div class="container" style="min-height:700px;">
    <div class="col-lg-push-11 ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3949.734552060161!2d-34.91523699999999!3d-8.128485000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1e37b9cc4885%3A0xdd842ac8a9c1005f!2sUnibratec!5e0!3m2!1spt-BR!2sbr!4v1409281254658" style=" width: 100%; height:300px; "></iframe>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">
            <form role="form" style=" margin: 0 auto;">
                <br />

                <input type="text" placeholder="Name" class="form-control"><br />

                <input type="text" placeholder="Email" class="form-control"><br />

                <input type="text" placeholder="Telefone" class="form-control"><br />

                <textarea rows="3" class="form-control" placeholder="Mensagem"></textarea><br />

                <button class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <br />
        <div class="col-md-6 column">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Moove Brasil</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div >
                            <div>
                                <img src="~/images/moove.png" class="img-responsive img-center"  style="max-width:270px; margin:15px auto; margin-top:-10px" />
                            </div>
                                <table class="table table-user-information">
                                <tbody>

                                    <tr>
                                        <td>Endereço</td>
                                        <td>Av. Mascarenhas de Moraes</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:bananasfit@gmail.com">bananasfit@gmail.com</a></td>
                                    </tr>
                                <td>Telefone</td>
                                <td>
                                    (081) 8888.8888
                                </td>

                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
